SELECT 
    p.Ticker,
    p.CompanyName AS Empresa,
    '$' + CAST(p.CurrentPriceUSD AS VARCHAR(10)) AS PrecoFechamentoAtual,
    '$' + CAST(p.BaseTargetUSD AS VARCHAR(10)) AS AlvoSuportadoBase,
    
    -- CÁLCULO DA PROJEÇÃO EXPONENCIAL COM AS VITÓRIAS DA MERCEDES
    -- Preço Base Target ($515) + (Prêmio por vitória * Total de vitórias estimadas no ciclo de 36 meses)
    '$' + CAST(CAST(p.BaseTargetUSD + (p.MercedesWinPremiumUSD * p.TotalWinsProjected) AS DECIMAL(6,2)) AS VARCHAR(10)) AS PrecoProjetadoLaMonumental,
    
    -- Diagnóstico macroeconômico instantâneo da sua sugestão de mercado
    CASE 
        WHEN (p.BaseTargetUSD + (p.MercedesWinPremiumUSD * p.TotalWinsProjected)) >= 525.00 
            THEN '🚀 BREAKTHROUGH TARGET ACCOMPLISHED: Rompimento da barreira de $525!'
        WHEN (p.BaseTargetUSD + (p.MercedesWinPremiumUSD * p.TotalWinsProjected)) >= 515.00 
            THEN '📈 BULLISH RESISTANCE: Testando canal de estabilidade em $515'
        ELSE '🐢 SIDEWAYS: Mercado aguardando dados trimestrais de Cloud/AI'
    END AS StatusEstrategicoNASDAQ,
    
    -- Delta percentual de ganho bruto em relação ao fechamento atual da bolsa
    CAST((((p.BaseTargetUSD + (p.MercedesWinPremiumUSD * p.TotalWinsProjected)) - p.CurrentPriceUSD) / p.CurrentPriceUSD) * 100.0 AS DECIMAL(5,2)) AS UpsidePotencialPct
FROM nasdaq.StockProjections p;
GO
