USE AzureGovInfraDB;
GO

-- Consulta Estratégica: Identificação da Melhor Volta em Linha e Consistência de Ritmo
SELECT 
    q.Position AS GridPos,
    q.DriverCode AS Piloto,
    v1.LapNumber AS VoltaAtual,
    CAST(v1.CurrentSpeedKmh AS DECIMAL(5,2)) AS VelocidadeAtualKmh,
    
    -- COMPARAÇÃO DIRETA JIT: Delta de velocidade contra a volta anterior (Mapeamento de Evolução)
    CAST(v1.CurrentSpeedKmh - v2.CurrentSpeedKmh AS DECIMAL(4,2)) AS DeltaEvolucaoKmh,
    
    -- EFICIÊNCIA DE POTÊNCIA: Rotação residual acima do alvo mínimo do motor
    (v1.CurrentRPM - c.TargetMinRPM) AS RpmExcedenteEficiente,
    
    -- STATUS "MATCH GOAL" (Atingiu o compasso perfeito de corrida?)
    CASE 
        WHEN v1.CurrentSpeedKmh >= v2.CurrentSpeedKmh AND v1.CurrentRPM >= 12500 THEN '⚡ VAN HALEN MODE: Ritmo Perfeito!'
        WHEN v1.CurrentSpeedKmh < v2.CurrentSpeedKmh AND v1.CurrentRPM >= 12500 THEN '⚠️ PNEUS DEGRADANDO: Giro alto, mas perdendo tração'
        ELSE '🐢 CONSERVADOR: Gerenciando combustível / ERS'
    END AS StatusRitmoCorrida
FROM telemetry.LiveCarStreams v1
-- Junção com a volta imediatamente anterior do mesmo carro no mesmo ponto da pista (3850m)
INNER JOIN telemetry.LiveCarStreams v2 
    ON v1.CarNumber = v2.CarNumber AND v1.LapNumber = (v2.LapNumber + 1)
INNER JOIN telemetry.MadridQualifyingGrid q 
    ON v1.CarNumber = q.Position
INNER JOIN track.CatalunyaCorners c 
    ON c.CornerNumber = 12 -- Foco travado na arena inclinada La Monumental
WHERE v1.DistanceMeters = 3850.00 
  AND v2.DistanceMeters = 3850.00
ORDER BY v1.LapNumber ASC, q.Position ASC;
GO
